@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:wght@400;600;800&display=swap"); /*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
/*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
/*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-size: 1.6rem;
  background-color: #EFF5F5;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

/*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
h1, h2, h3 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 4.4rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 4rem;
  font-family: "Belanosima", sans-serif;
}

h3 {
  font-size: 3rem;
}

[class$=heading] {
  margin: 2rem 0;
}

p {
  color: #000;
  font-size: 1.6rem;
  line-height: 1.8;
}

/*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
.header__nav {
  background-color: #181823 !important;
}
.header__titulo {
  font-size: 2rem;
}
.header__hero {
  background-image: url("../assets/img/instituto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 30%;
  text-align: center;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.header__hero h1 {
  font-size: 4rem;
  color: #EFF5F5;
}
.header__hero p {
  font-size: 2rem;
}
.header .collapse__navbar {
  width: 90%;
}

/*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
.main .porque-elegirnos__lista {
  list-style: disc;
  padding: 0 2rem;
}
.main .porque-elegirnos__li {
  margin: 1rem 0;
}
.main .propuesta-educativa__img {
  height: 20rem;
}

/*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
.footer .redes-sociales__titulo, .footer .contacto__titulo, .footer .ubicacion__titulo {
  text-align: center;
}
.footer .redes-sociales__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
}
.footer .redes-sociales__facebook, .footer .redes-sociales__twitter {
  font-size: 3rem;
}
.footer .redes-sociales__img {
  width: 3rem;
  height: 3rem;
}
.footer .ubicacion__iframe {
  width: 95%;
  margin: 0 1rem;
}
.footer .contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Colores Principales*/
/*Colores Secundarios*/
/*Fuentes*/
/*Tamaños*/
/*anchos*/
.form__boton-check, .form__boton-form {
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
