@import '../utilities/variables';

.formulario {

    background-color: $colorCinco;
    padding: 1rem !important;

    .mb-3 {
        margin-bottom: 2rem !important;
    }

    &__titulo {
        white-space: nowrap;
        font-size: 2.3rem;
        margin: 1rem auto;
        text-align: center;
        color: $colorCuatro;
    }

    &__subtitulo {
        text-align: center;
        color: $colorCuatro;
        margin: 1rem auto 2rem auto;
        width: 93%;
    }

    &__form {
        padding: 1rem;
        margin: 0 auto;
    }

    &__correo {
        margin-bottom: 1rem !important;
    }

    &__label {
        color: $colorCuatro;
    }

    &__label--mod {
        white-space: nowrap;
        font-size: 1.3rem;
    }

    &__texto {
        color: $colorCuatro;
    }

    &__boton-check {
        width:  $w-90;
        margin: 0 0 2rem 3rem !important;
    }
    &__boton-form {
        width: 40%;
        padding: 0.4rem !important;
        font-size: 1.4rem;
        font-family: $fuentePrincipal;
        box-shadow: $boxShadow;
    }
    
    .form-control {
        font-size: 1.4rem;
    }

    
    

    
}