/*Colores Principales*/
$colorPrimario: #FC7300;
$colorSecundario: #1F8A70;
$colorTerciario: #00425A;
$colorCuarto: #181823;
$colorCinco: #EFF5F5;

/*Colores Secundarios*/

$negro: #000;
$blanco: #fff;

/*Fuentes*/
$fuentePrincipal: 'Poppins', sans-serif;
$fuenteSecundaria: 'Belanosima', sans-serif; 

/*Tamaños*/

$tablet: 768px;
$desktop: 1440px;

/*anchos*/

$w-90: 90%;