@import '../utilities/variables';

.footer {
    
    //redes

    &__redes-titulo {
        text-align: center;
        padding: 1rem;
        font-size: 2.6rem;
    }

    &__lista {
        @include flex(row, space-evenly, unset);
        justify-content: space-evenly;
        margin-top: 1rem;
        text-align: center;
    }

    &__nombres {
        font-size: 1.7rem;
    }

    &__facebook, &__twitter {
        font-size: 3.2rem;
    }
    &__img {
        width: 3.2rem;
        height: 3.2rem;
        display: inline-flex;
    }
    

    //ubicacion

    &__ubicacion-titulo {
        @extend .footer__redes-titulo;
    }
    &__iframe {
        width: 95%;
        margin-top: 1rem;
    }

    //contacto

    &__contacto {
        @include flex(column, center, center);
        margin-top: 1rem;
    }

    &__titulo {
            @extend .footer__redes-titulo;
        }

    &__nav {
        @include flex(column, center, center);

        li {
            margin-top: 1rem;
        }
    }


}