@import '../utilities/variables';

.footer {
    
    //redes

    &__redes-titulo {
        text-align: center;
    }

    &__lista {
        @include flex(row, space-evenly, center);
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    &__facebook, &__twitter {
        font-size: 3rem;
    }
    &__img {
        width: 3rem;
        height: 3rem;
    }

    //ubicacion

    &__ubicacion-titulo {
        @extend .footer__redes-titulo;
    }
    &__iframe {
        width: 95%;
        margin-top: 1rem;
    }

    //contacto

    &__contacto {
        @include flex(column, center, center);
    }

    &__titulo {
            @extend .footer__redes-titulo;
        }

    &__nav {
        @include flex(column, center, center);
        padding: 1rem;

        li {
            margin-top: 1rem;
        }
    }


}