@import '../utilities/variables';

.header {

    &__nav {
        background-color: $colorCuarto !important;
    }

    &__home {
        font-size: 2rem;
    }
    &__hero {
        @include bg-img('../assets/img/instituto.jpg', cover);
        text-align: center;
        height: 30rem;
        display: flex;
        align-items: end;
    }

    .collapse {
        &__navbar {
            width: $w-90;
        }
    }
}

