@import '../utilities/variables';

.header {

    &__nav {
        background-color: $colorCuarto !important;
    }

    &__titulo {
        font-size: 2rem;
    }
    &__hero {
        @include bg-img('../assets/img/instituto.jpg', cover);
        background-position: 30%;
        text-align: center;
        height: 40rem;
        @include flex(column, end, center);
    }
    &__hero h1 {
        font-size: 4rem;
        color: $colorCinco;
    }

    &__hero p {
        font-size: 2rem;
    }

    .collapse {
        &__navbar {
            width: $w-90;
        }
    }
}

