@import '../utilities/variables';

.header {

    &__boton {
        position: relative !important;
        right: 1rem !important;
    }

    &__titulo {
        font-size: 2.6rem;
        transition: .3s;
    }
    &__titulo:hover {
        color: $colorDos;
    }

    &__nav {
        background-color: $colorCuatro !important;
    }
    &__navbar {

        position: relative;
        right: 1.5rem;

        .nav-item {
            margin-bottom: 1rem;
            font-size: 1.7rem;
        }

        .nav-item:last-child {
            margin-bottom: 0;
        }
    }

    .nav-link {
        color: $colorCinco;
        font-weight: $fontNormal;
        transition: .3s;
    }
    .nav-link:hover {
        color: $colorUno;
    }


    &__hero {
        @include bg-img('../assets/img/instituto.jpg', cover);
        background-position: 25%;
        text-align: center;
        height: 35rem;
        @include flex(column, end, center);

        h1 {
            font-size: 4rem;
            color: $colorCinco;
            transition: .3s;
            font-weight: $fontMedia;
        }
        h1:hover {
            color: $colorTres;
        }

        p {
            font-size: 2.4rem;
            text-shadow: 2px 2px 5px $colorCinco;
            font-weight: $fontNormal;
            margin-bottom: 0;
        }
    }


}

