@import '../utilities/variables';
@import '../utilities/mixins';

.main {
    //quienes somos
    &__quienes-contenedor {
        @include grid(1, 2rem);
        }

    &__img {
        height: 100%;
    }

    //porque-elegirnos

    &__elegirnos {
        @extend .main__quienes-contenedor;
    }

    //propuesta educativa
    &__propuesta {
        background-color: $colorCinco;
    }

    &__propuesta-img {
        height: 25rem;
    }

    .row > * {
        padding: 0;
    }

    //ultimas noticias

    &__noticia {
        @include flex(column, unset, center);
    }
}

