@import '../utilities/variables';
@import '../utilities/mixins';

.main {

    .quienes-somos {
        &__contenedor {
            @include grid(1, 2rem);
        }
        &__img {
            height: 100%;
        }
    }

    .porque-elegirnos {
        @extend .quienes-somos;
    }

    .propuesta-educativa {
        &__propuesta {
            background-color: $colorCinco;
        }
        &__img {
            height: 25rem;
        }
    }
    .row > * {
        padding: 0;
    }

    .ultimas-noticias {
        &__noticia {
            @include flex(column, unset, center);
        }
    }
}

