@import '../utilities/variables';
@import '../utilities/mixins';

@include tablet { 

    .header {

        &__titulo {
            font-size: 3rem;
        }

        &__navbar {
            right: 1.5rem;

            .nav-item {
                font-size: 2rem;
            }
        }

        
    }

    .main {
        //Quienes-Somos

        &__quienes-contenedor {
            @include grid(2, 2rem);
            grid-template-rows: 40rem;
            margin-bottom: 3rem;
        }
        &__quienes-img {
            height: 100%;
        }

        &__quienes-texto {
            overflow: hidden;
            padding: 0;
        }

        //Porque Elegirnos

        &__elegirnos-contenedor {
            @include grid(2, 2rem);
            grid-template-rows: 40rem;
            grid-template-areas: "grid-1 grid-2";
            margin-bottom: 3rem;
            
        }
        &__elegirnos-imagen {
            grid-column: grid-2;
                grid-row: grid-2;
        
        }
        &__elegirnos-img {
            height: 100%;
        }

        &__elegirnos-texto {
            grid-column: grid-1;
            grid-row: grid-1;
            overflow: hidden
        }

        //Propuesta Educativa

        &__propuestas-contenedor {
            @include grid(2, 2rem);
            margin-bottom: 3rem;
        }
        &__propuesta {
            width: 100%;
            margin-bottom: 0;
        }
        .card {
            border: 1px solid #ccc !important;
        }
    }

    .footer {

        max-width: 90%;
        margin: 1.5rem auto 0 auto;

        &__contenedor {
            @include grid(3, 1rem);
            align-items: baseline;
            grid-template-rows: 30rem;
        }

        //redes

        &__redes {

            height: 100%;

            h2{
                display: inline-block;
                white-space: nowrap;
            }
            @include flex(column, center, center);
            ul {
                flex-direction: column;
            }

        }

        &__redes-titulo {
            margin: 1rem auto 0 auto;
        }

        &__facebook, &__twitter {
            font-size: 3rem;
        }

        &__img {
            display: inline-block;
            width: 3rem;
            height: 3rem;
        }

        &__nombres {
            font-size: 2rem;
        }

        &__lista {

            li {
                flex-basis: 7rem;
                @include flex(row, end, center);
            } 
        }
        &__li--twitter {
            @include flex(row, end, center);
        }


        &__enlace {
            @include flex(row, center, baseline);
            gap: 1rem;
        }

        &__enlace--twitter {
            @include flex(row, end, center);
            gap: 2rem;
        }
        

        //ubicacion

        &__ubicacion {
            height: 100%;
        }

        &__iframe {
            width: 22rem;
            height: 21rem;
            margin-top: 2rem;
        }

        &__ubicacion-titulo {
            margin: 1rem auto 0 auto;
        }

        //contacto

        &__contacto {
            @include flex(column, center, center);
            text-align: center;
            height: 100%;
        }

        &__contacto-titulo {
            margin: 1rem auto 0 auto;
        }

        &__nav {
            align-items: unset;
            margin-top: 1rem;
        }

        &__nav li {
            padding: 1rem;
        }

        //copyright

        &__copyright {
            margin-top: 2rem;
            font-size: 2.2rem;
        }
    }

    //Formulario

    .formulario {
        max-width: 90%;
        margin: 5rem auto 3rem auto;
        border-radius: 5px;
        background-color: $colorTres;
        
        &__contenido {
            width: 75%;
            max-width: 90%;
            margin: 0 auto;
        }


        &__titulo {
            text-align: center;
            margin: 2rem auto;
            font-size: 2.8rem;
            color: $colorCinco;
        }

        &__subtitulo {
            text-align: center;
            margin: 0 auto 2rem auto;
            color: $colorUno;
        }

        &__form {
            padding: 3rem;
        }

        &__label {
            color: $colorCinco;
        }

        &__label--mod {
            font-size: 1.6rem;
        }

        &__texto {
            color: $colorCinco;
        }

        &__boton-check {
            margin-top: 1rem !important;
            @include flex(row, center, center);
            gap: 1rem;
        }

        &__boton-form {
            font-size: 2rem;
            padding: 1rem;
            margin-top: 1rem;
        }

        
    }

}

@include desktop {
    //header

    .header {

        //Nav

        &__titulo {
            font-size: 3.5rem;
            padding: 0.5rem 0 0.5rem 1rem;
        }

        &__navbar {

            position: inherit;
            

            .nav-item {
                margin-bottom: 0;
            }
        }

        .nav-link {
            font-size: 2.4rem;
            
        }

        //Hero

        &__hero {
            height: 45rem;
            background-size: 100% 188%;
            background-position: 0 47%;
            h1 {
                font-size: 6rem;
            }

            p {
                font-size: 3rem;
            }
        }
    }

    //Main

    .main {

        //Seccion Quienes

        &__quienes-titulo {
            font-size: 4rem;
        }


        //Seccion Porque elegirnos


        //Seccion Propuestas


        //Ultimas Noticias

        
    }

    //Footer

    .footer {

        //Seccion Redes

        //Seccion Ubicacion

        //Seccion Contacto
    }
}