@import '../utilities/variables';
@import '../utilities/mixins';

@include tablet { 

    .main {
        //Quienes-Somos

        &__quienes-contenedor {
            @include grid(2, 2rem);
            grid-template-rows: 55rem;
        }
        &__quienes-img {
            height: 100%;
        }

        //Porque Elegirnos

        &__elegirnos-contenedor {
            @include grid(2, 2rem);
            grid-template-rows: 55rem;
                grid-template-areas:
                    "grid-1 grid-2";
        }
        &__elegirnos-imagen {
            grid-column: grid-2;
                grid-row: grid-2;
        
        }
        &__elegirnos-img {
            height: 100%;
        }

        &__elegirnos-texto {
            grid-column: grid-1;
            grid-row: grid-1;
        }
    }

    .footer {

        width: 90%;
        margin: 1.5rem auto 0 auto;

        &__contenedor {
            @include grid(3, 0);
            align-items: baseline;
        }

        //redes

        &__redes {

            h2{
                display: inline-block;
                white-space: nowrap;
            }
            @include flex(column, center, center);
            ul {
                flex-direction: column;
            }

        }

        &__redes-titulo {
            margin: 1rem auto 0 auto;
        }

        &__facebook, &__twitter {
            font-size: 3rem;
        }

        &__img {
            display: inline-block;
            width: 3rem;
            height: 3rem;
        }

        &__nombres {
            font-size: 2rem;
        }

        &__lista {

            li {
                flex-basis: 7rem;
                @include flex(row, end, center);
            } 
        }
        &__li--twitter {
            @include flex(row, end, center);
        }


        &__enlace {
            @include flex(row, center, baseline);
            gap: 1rem;
        }

        &__enlace--twitter {
            @include flex(row, end, center);
            gap: 2rem;
        }
        

        //ubicacion

        &__iframe {
            width: 23rem;
            height: 21rem;
            margin-top: 2rem;
        }

        &__ubicacion-titulo {
            margin: 1rem auto 0 auto;
        }

        //contacto

        &__contacto {
            @include flex(column, center, center);
            text-align: center;
        }

        &__contacto-titulo {
            margin: 1rem auto 0 auto;
        }

        &__nav {
            align-items: unset;
            margin-top: 1rem;
        }

        &__nav li {
            padding: 1rem;
        }
    }

    //Formulario

    .formulario {
        width: 90%;
        margin-top: 3rem;
        border-radius: 5px;


        &__titulo {
            text-align: center;
            margin: 0 auto 1rem auto;
        }

        &__subtitulo {
            text-align: center;
            margin: 0 auto;
        }

        &__form {
            padding: 3rem;
        }

        &__boton-check {
            margin-top: 1rem !important;
            @include flex(row, center, center);
            gap: 1rem;
        }

        &__boton-form {
            font-size: 2rem;
            padding: 1rem;
        }

        
    }

}

@include desktop {
    
}