@import '../utilities/variables';

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $negro;
}

body {
    font-size: 1.6rem;
    background-color: $colorCinco;
    height: 100vh;
}